body {
    background-color: #246484;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    
}

#canvas {
    border: 1px solid black;
    height: 500px; /*potentially delete this later*/
    width: 1000px; /*potentially delete this later*/
    margin: 2% 25%;
    background-image: url('projectPigeonImages/city-scape.jpg');
}

#start-button {
    background-image: url('projectPigeonImages/pink-start.png');
}
/* h2 {
    text-align: left;
} */