body {
    background-color: #246484;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#canvas {
    border: 1px solid black;
    height: 500px; /*potentially delete this later*/
    width: 1000px; /*potentially delete this later*/
    margin: 2% 25%;
    background-image: url('projectPigeonImages/city-scape.jpg');
}

#start-button {
    /* background-image: url('projectPigeonImages/pink-start.png'); */
    background-color: purple;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 14px;
}

p {
    line-height: 140%;
}


/* h2 {
    text-align: left;
} */